<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% comment %} TODO: better SEO tags {% endcomment %}

        <script>
            navigator.serviceWorker &&
                navigator.serviceWorker.register(
                    "{{ '/service-worker.js?v=' | append: site.github.build_revision | relative_url }}",
                    { scope: '/' },
                );

            {% comment %} Makes long tables scrollable on mobile, untill I find a better solution {% endcomment %}
            addEventListener('DOMContentLoaded', () => {
                for (table of  document.querySelectorAll('table')) {
                    let div = document.createElement('div');
                    div.classList.add('overflow-x-auto');
                    {% comment %} If I don't clone the table, I'm replacing an element with itself... which can't be done {% endcomment %}
                    div.append(table.cloneNode(true));

                    table.replaceWith(div);
                }
            });
        </script>
        <link rel="manifest" href="{{ '/manifest.json?v=' | append: site.github.build_revision | relative_url }}">
        <meta name="theme-color" content="#000000">

        <link rel="icon" href="./favicon.png">

        <link
            rel="stylesheet"
            href="{{ '/_assets/css/app.css?v=' | append: site.github.build_revision | relative_url }}"
        >
        <link
            rel="stylesheet"
            href="{{ '/_assets/css/tailwind.css?v=' | append: site.github.build_revision | relative_url }}"
        >
        <link
            rel="stylesheet"
            href="{{ '/_assets/css/gruvbox.css?v=' | append: site.github.build_revision | relative_url }}"
        >

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        >
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap" rel="stylesheet">
    </head>

    <body class="flex h-screen flex-col md:flex-row">
        {% include navigation.liquid %}

        <div class="flex w-full min-w-0 flex-1 grow overflow-y-auto overflow-x-hidden bg-gray-50 dark:bg-gray-900 md:h-auto">
            <div class="grow-1 prose w-full max-w-full p-5 pt-5 dark:prose-invert md:p-10 md:pt-10">
                {% include disclaimer.liquid %}

                {{ content }}
                
                <br>
            </div>
        </div>

        <script
            async
            src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
            integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg="
            crossorigin="anonymous"
        ></script>
        <script>
            if (typeof anchors !== 'undefined') {
                anchors.add();
            }
        </script>
    </body>
</html>
